<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ServletGetAndPostMethod</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>ServletGetRequestDemo</display-name>
		<servlet-name>ServletGetRequestDemo</servlet-name>
		<servlet-class>com.pgr.servlet.ServletGetRequestDemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletGetRequestDemo</servlet-name>
		<url-pattern>/getRequest</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ServletPostRequestDemo</display-name>
		<servlet-name>ServletPostRequestDemo</servlet-name>
		<servlet-class>com.pgr.servlet.ServletPostRequestDemo</servlet-class>
		<init-param>
			<param-name>JdbcUsername</param-name>
			<param-value>demo</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletPostRequestDemo</servlet-name>
		<url-pattern>/postRequest</url-pattern>
	</servlet-mapping>
</web-app>